.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #F49F3C;
    border-radius: 20px;
    padding: 10px 50px 50px 50px;

    .error {
      color: #F49F3C;
    }

    img {
      width: 300px;
    }

    input {
      border-radius: 10px;
      width: 350px;
      height: 40px;
      margin: 10px;
      font-size: 17px;
    }

    button {
      border-radius: 10px;
      font-size: 17px;
      margin-top: 30px;
      width: 250px;
      height: 40px;
      border: none;
      background-color: #F49F3C;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }

    span {
      font-size: 12;
      color: red;
      margin-top: 10px;
    }
  }
  .loader {
    width: 48px;
    height: 48px;
    border: 5px solid #F49F3C;
    border-bottom-color: transparent;
    margin-right: 150px;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
