.navbar {
  height: 50px;
  border-bottom: 0.5px solid rgb(231, 228, 228);
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #555;

  .wrapper {
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;

    .search {
      display: flex;
      align-items: center;
      border: 0.5px solid lightgray;
      padding: 3px;
    }

    input {
      border: none;
      outline: none;
      background: transparent;

      &::placeholder {
        font-size: 12px;
      }
    }

    .items {
      display: flex;
      align-items: center;

      .item {
        display: flex;
        align-items: center;
        margin-right: 20px;
        position: relative;

        .icon {
          font-size: 25px;
        }
        .avatar {
          width: 30px;
          height: 30px;
          border-radius: 50px;
        }
        .counter {
          width: 16px;
          height: 16px;
          background-color: rgb(255, 0, 0);
          border-radius: 50%;
          color: white;
          align-items: center;
          justify-content: center;
          display: flex;
          font-size: 12px;
          font-weight: bold;
          position: absolute;
          top: -7px;
          right: -7px;
        }
      }
    }
  }
}
